<div class="text-white">
    <h2 class="d-flex justify-content-center">Sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non maiores atque, corrupti, repudiandae vel dolorem nihil sint, illum ex fugit eum deleniti corporis. Nisi obcaecati eligendi cum aliquam placeat adipisci.
    Earum fugit blanditiis soluta ad, tempora odio minima fugiat amet obcaecati quibusdam ab enim, provident impedit ipsa saepe quis facere, qui quidem delectus aliquid? Ad blanditiis magni sit voluptates necessitatibus.
    Totam quae in ex. Dolor fuga incidunt blanditiis quas sequi, laborum corrupti perferendis tempora veniam ratione eveniet atque, eaque quisquam? Eum neque, corporis recusandae ducimus velit ipsam dignissimos exercitationem quos.</p>
</div>
